<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>My Other Projects</mat-panel-title>
        <mat-panel-description>
          <mat-icon>work</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-list>
        <mat-list-item>
          <mat-icon>router</mat-icon>
          <span>ウェブサイトから賃貸情報をデータスクレイピングし、新規物件を自分のスマホに発信するスクリプトを作成しました</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>ondemand_video</mat-icon>
          <a target="_blank" rel="noopener noreferrer" href="https://space.bilibili.com/9073027">毎日アルゴリズム問題を解いて解説動画を投稿し続けています</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
      
    </mat-expansion-panel>


    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Contact</mat-panel-title>
        <mat-panel-description>
          <mat-icon>alternate_email</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item>
          <mat-icon>email_outline</mat-icon>
          <span>pendygg@yahoo.co.jp</span>
        </mat-list-item>
        
        <mat-divider></mat-divider>
        
        <mat-list-item>
          <mat-icon>code</mat-icon>
          <a target="_blank" rel="noopener noreferrer" href="https://github.com/secondtime-github">Github</a>
        </mat-list-item>
        
        <mat-divider></mat-divider>
        
        <mat-list-item>
          <mat-icon>location_on</mat-icon>
          <span>3-2-16 Shibaura, Tamachi, Minato-Ku, Tokyo, Japan</span>
        </mat-list-item>
      </mat-list>
    
    </mat-expansion-panel>
</mat-accordion>
  