.mat-list-icon, .sub {
    color: rgba(0, 0, 0, 0.54);
}

/* mat-grid-tile {
    background: lightblue;
} */

.img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.mat-display-2.name {
    margin-bottom: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    font-family: Rowdies;
}